name: Build Kernel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
      options: --user root
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Enable 32-bit architecture
      run: |
       dpkg --add-architecture i386
       apt-get update
      
    - name: deconf
      run: |
       apt-get update
       apt-get install -y \
       debconf-utils
       
    - name: Preseed tzdata for Tokyo
      run: |
       echo "tzdata tzdata/Areas select Asia" | debconf-set-selections
       echo "tzdata tzdata/Zones/Asia select Tokyo" | debconf-set-selections

    - name: tzdata
      run: |
       apt-get install -y tzdata \
            --no-install-recommends \
            -o Dpkg::Options::="--force-confdef" \
            -o Dpkg::Options::="--force-confold"
      

    - name: Set up APT packages
      run: |
        apt-get update
        apt-get install -y \
        git gnupg flex bison gperf build-essential zip curl \
        zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 lib32ncurses5-dev \
        x11proto-core-dev libx11-dev lib32z-dev ccache libgl1-mesa-dev \
        libxml2-utils xsltproc unzip python lib32z1 lib32stdc++6 libssl-dev \
        libswitch-perl swig maven libncurses5 xxd bc vim

    - name: Clone Toolchain Repository
      run: |
          mkdir -p toolchain/gcc
          git clone --branch ${{ env.TOOLCHAIN_BRANCH }} ${{ env.TOOLCHAIN_REPO }} toolchain/gcc/${{ env.TOOLCHAIN_NAME }}

    - name: Download and Extract Clang
      run: |
          mkdir -p toolchain/clang
          wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/android-9.0.0_r6/clang-4691093.tar.gz -O clang.tar.gz
          tar -xzf clang.tar.gz -C toolchain/clang
          mv toolchain/clang/clang-4691093 toolchain/clang/clang-4691093  # Ensure the directory name matches
          rm clang.tar.gz

       
      env:
          KERNEL_SUBPATH: kernel/mediatek/mt8168/4.14
          DEFCONFIG_NAME: a05bd_defconfig
          TARGET_ARCH: arm64
          TOOLCHAIN_REPO: https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
          TOOLCHAIN_BRANCH: llvm-r383902b
          TOOLCHAIN_NAME: aarch64-linux-android-4.9
          TOOLCHAIN_PREFIX: aarch64-linux-android-
          KERNEL_IMAGES: arch/arm64/boot/Image:arch/arm64/boot/Image.gz:arch/arm64/boot/Image.gz-dtb
          CLANG_COMPILER_PATH: ${{ github.workspace }}/toolchain/clang/clang-4691093
   
    - name: Execute build script
      run: |
        chmod +x ./build_kernel.sh
        ./build_kernel.sh output

    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: ./output
